/* Extra Small-devices */
@media (min-width: 320px) and (max-width: 767px)  {
    .main {
        display: flex;
        flex-direction: row-reverse;
        width: 901px;
        margin: 0 auto;
    }

    .about__position {
        font-size: 17px;
    }

    .main__content {
        background-color: #FFFFFF;
        box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
        padding: 105px 25px;
        margin-right: 70px;
    }

    .project__link__text, .project__link {
        font-size: 17px;
    }

    .about__description {
        font-size: 17px;
        padding-left: 20px;
    }

    .title {
        font-size: 33px;
    }

    .work__position {
        font-size: 23px;
    }

    .organization {
        font-size: 23px;
    }

    .work__list__item {
        font-size: 17px;

    }

    .work__period {
        font-size: 17px;
    }

    .university {
        font-size: 23px;
    }

    .speciality {
        font-size: 17px;
    }

    .education__period {
        font-size: 17px;
    }

    .sidebar {
        background-color: #1E2939;
        padding-top: 40px;
        width: 270px;
    }
    .photo {
        width: 270px;
        margin-bottom: 50px;
    }

    .contact__link {
        font-size: 17px;
    }

    .skills__text {
        font-size: 17px;
    }
}

/* Small-devices */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Medium-devices */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* Large-devices */
@media (min-width: 1280px) {

}